# Node modules
backend/node_modules/
node_modules/
# Logs
*.log

# OS files
.DS_Store

# Build outputs
frontend/.next/
backend/dist/

.env
.env.*
build/
.next/
out/

# Prisma
prisma/migrations/
prisma/dev.db
node_modules/@prisma/client/

# IDE / editor configs
.vscode/
.idea/

# Optional: npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*